/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

input,
button {
    font-family: inherit;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*style*/
body {
    background: #5E72C0;
}

.todoSide {
    position: fixed;
    width: 240px;
    height: 100vh;
    left: -300px;
    top: 0px;
    background-color: #ffffff;
    transition: all .5s;
    z-index: 2;
    padding: 10px;
}

.todoSide .icon-gengduo {
    color: #787878;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 10px;
}

.todoSide ul {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.todoSide ul li {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    font-size: 15px;
    padding: 4px;
    border-radius: 4px;
}

.todoSide ul li:hover {
    background-color: #e4e4e4;
}

.todoSide ul .select {
    background-color: #e4e4e4;
    color: #5E72C0;
}

.todoSide ul li .iconfont {
    font-size: 18px;
    margin: 5px 8px;
}

.todoLayout .todoWrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.todoHeader {
    margin-left: 30px;
    margin-top: 15px;
    display: flex;
}

.todoHeader .icon-gengduo {
    font-size: 18px;
    color: white;
    padding: 10px;
    margin-left: -10px;
}

.todoHeader .icon-gengduo:hover {
    background: #4c5995;
    border-radius: 4px;
}

.todoMain {
    display: flex;
    flex-direction: column;
    margin-left: 27px;
    margin-right: 30px;
    margin-top: 10px;
    height: 100%;
}

.todoMain .introduction {
    display: flex;
    align-items: center;
    font-size: 22px;
    color: white;
}

.todoMain .introduction .iconfont {
    font-size: 25px;
    margin-right: 10px;
}

.todoMain .todoContent {
    flex-grow: 1;
    position: relative;
}

.todoMain .todoContent .todoList {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.todoMain .todoContent .todoList .todo {
    display: flex;
    align-items: center;
    font-size: 15px;
    background-color: #ffffff;
    margin-bottom: 5px;
    border-radius: 5px;
    padding-left: 20px;
}

.todoMain .todoContent .todoList .todo span {
    flex-grow: 1;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 20px;
    margin-right: 30px;
}

.todoMain .todoContent .todoList .todo .icon-kongwujiaoxing {
    margin-right: 18px;
    font-size: 20px;
}

.todoMain .todoContent .todoList .todo .icon-zhengque {
    color: #5e72c0;
    font-size: 20px;
}

.todoMain .todoContent .icon-empty {
    font-size: 40px;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -20px;
    margin-left: -20px;
}

.todoMain .todoContent .todoList .todo .icon-shiwujiaoxing {
    margin-right: 20px;
    font-size: 18px;
    color: #5e72c0;
}

.todoMain .todoContent .todoList .todo .todoEnter {
    border: 2px solid;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.todoMain .todoInput {
    display: flex;
    background-color: white;
    align-items: center;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.todoMain .todoInput .icon-plus {
    font-size: 14px;
    margin-right: 15px;
}

.todoMain .todoInput input {
    border: none;
    flex-grow: 1;
    height: 20px;
    font-size: 14px;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
}

.todoFooter {
    position: fixed;
    width: 100%;
    height: 260px;
    bottom: -300px;
    left: 0px;
    background-color: #ffffff;
    transition: all .5s;
    z-index: 2;
    border-radius: 4px;
}

.todoFooter .todoOperation {
    font-size: 16px;

}

.todoFooter .todoOperation .selectOperation {
    display: flex;
    flex-direction: column;
}

.todoFooter .todoOperation .selectOperation span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px;
}

.todoFooter .todoOperation .selectOperation span:first-child {
    color: #b2b2bb;
    border-bottom: 2px solid #f4f4f5;
}

.todoFooter .todoOperation .selectOperation span:last-child {
    color: red;
    border-bottom: 8px solid #f4f6f8;
}

.todoFooter .todoOperation .cancel {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}